.header {
    background-color: #163A24;

    &-box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 0;
    }

    &-list {
        display: flex;
        gap: 24px;
        align-items: center;
    }

    &-link {
        color: #FBFAF7;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    &-btn {
        padding: 15px 25px;
        border-radius: 160px;
        background: #198C36;
        border: 2px solid transparent;

        &:hover {
            background: rgba(25, 0, 255, 0.521);
            border: 2px solid #000;
        }

        &:active {
            background: #06e73f;
            border: 2px solid #000;
            color: #000;
        }
    }

    .hero {
        padding: 120px 0 129px 0;
        background: url(../assets/svg/header-background.svg);
        background-repeat: no-repeat;
        background-position: 90%;
    }

    &-title {
        width: 450px;
        color: #FBFAF7;
        font-size: 48px;
        font-style: normal;
        font-weight: 600;
        line-height: 65.25px;
        margin-bottom: 18px;
    }

    &-text {
        color: #FBFAF7;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 27px;
        width: 475px;
    }

}